// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 75vh;
	display: table;
	.banner_content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		h1 {
			@include bold_font;
			color: #222;
			font-size: 3.5rem;
			margin: 0;
		}
		p {
			font-size: 1.5rem;
			margin: 0 0 2.5rem 0;
			color: #0bd7b9;
		}

		button {
			background: transparent;
			padding: 1em 2em 1em 2em;
			colour: #222;
		}
	}
}
