<footer class="page-footer red">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Doist, Inc</h5>
                <p class="grey-text text-lighten-4">Next level Todo technology.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://www.robertsimoes.com!">Made By ✌️ Robert Simoes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright
            <a class="grey-text text-lighten-4 right" href="http://www.pressurelabs.com">Pressure Labs</a>
        </div>
    </div>
</footer>