<div class="main-content">
<div class='bg'></div>
    <div class="jumbotron">
        <div class="content-inverse">
        <br/><br/><br/>
        <h1> Finally. Tasks Done. </h2>
        <h5> Doist is a beautiful Todo list for you! </h5>
        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col m6">
            <h3> Why Doist? </h3>
            <div class="divider"></div>
            <p> Doist is the next level innovation in Todo list technology. With unfoundingly average performance, and great design. Doist provides users with a keen sense of control to take back their chaotic schedules and days, to emerge as victors. </p>
            <%= link_to "Sign Up", new_user_registration_path, class: 'btn blue'%>
            </div>

        <div class="col m6">
            <h3> Already A Member? </h3>
            <div class="divider"></div>
            <p> Welcome back! Ready to get some work done? Login below ! </p>
            <br/>
            <%= link_to "Login", new_user_registration_path, class: 'btn blue'%>
        </div>
    </div>
  

</div>

