<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile_about.png"%>
    </div>

    <div id="content">
        <h1> Rob </h1>
        <p>
            Fingerstache +1 migas, four loko meditation locavore health goth. Cliche snackwave pabst lo-fi, sartorial occupy lumbersexual unicorn migas kogi man braid art party health goth. Hot chicken franzen bitters activated charcoal squid pug neutra pickled gentrify chicharrones YOLO palo santo pork belly XOXO.
        </p>
    </div>
</div>